<% feed.forEach(post => { %>
    <div id="<%= post.id_post %>" class="post">
        <div class="row" style="position:relative; padding-right: 130px">
            <img class="fotoUsuarioPost" src="<%= post.foto %>">
            <h4><%= post.nome %></h4>

            <div style="position:absolute; right: 0;">
                <%if (usuario){%>
                    <% if (post.reacoes) { %>
                        <% if (post.reacoes.filter(like => (like == usuario.id_usuario)).length == 1){ %>
                            <button class="btn-memeIO btn" onclick="avaliarPost('<%= post.id_post %>','<%= usuario.id_usuario %>','<%= JSON.stringify(post.reacoes)%>', this)">
                                <i class="fas fa-laugh-squint fa-lg liked"></i>
                                <span><%= quantidadeLikes(post.reacoes) %></span>
                            </button>
                        <% }else { %>
                                <button class="btn-memeIO btn" onclick="avaliarPost('<%= post.id_post %>','<%= usuario.id_usuario %>','<%= JSON.stringify(post.reacoes)%>', this)">
                                    <i class="fas fa-laugh-squint fa-lg"></i>
                                    <span><%= quantidadeLikes(post.reacoes) %></span>
                                </button>
                        <% }; %>
                    <% }else { %>
                            <button class="btn-memeIO btn" onclick="avaliarPost('<%= post.id_post %>','<%= usuario.id_usuario %>', this)">
                                <i class="fas fa-laugh-squint fa-lg"></i>
                                <span>0</span>
                            </button>
                        <% }; %>

                    <button class="btn btn-memeIO" data-toggle="modal" data-target="#denunciarPublicação" onclick="associarIdPost(<%= JSON.stringify(post) %>)">
                        <i class="fas fa-flag"></i>
                    </button>
                    <% if (usuario.id_usuario == post.id_usuario || usuario.adm == 1) { %>
                        <button class="btn btn-memeIO" onclick="deletarPost('<%= post.id_post %>', '<%= post.id_usuario %>', '<%= post.idimgur %>')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    <% } %>
                <%}%>
            </div>
        </div>
        <div class="row">
            <p style="width: 100%;"><%= post.conteudo%></p>
            <img src="<%= post.urlimgur %>">
        </div>

    </div>
<% }) %>

<!-- MODAL PRA DENUNCIAR PUBLICAÇÃO -->
<div class="modal fade" id="denunciarPublicação" tabindex="-1" role="dialog" aria-labelledby="modalDenunciarPublicação" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Denunciar Publicação</h5>
                <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="inputIdDenuncia" name="postID">
            <input type="hidden" id="inputIdUsuario" name="idUsuario">
            <input type="hidden" id="inputPostUrlImgur" name="postUrlImgur">
            <input type="hidden" id="inputPostConteudo" name="postConteudo">
            <input type="hidden" id="inputPostIdImgur" name="postIdImgur">
            <div class="modal-body">
                <input style="width: 100%; height: 4em;" placeholder="Qual o motivo de sua denúncia?" id="conteudoDenuncia" name="conteudoDenuncia" type="text" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-memeIO" onclick="denunciarPublicacao()">Enviar denúncia</button>
            </div>
        </div>
    </div>
</div>

<%
    function quantidadeLikes(array){
        if(array[0] == null){
            return 0;
        } else{
            return array.length;
        }
    }
%>